header {
    background-color: var(--color1);
    padding: .5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 4.5vw;
    justify-content: space-between;
}

header .first {
    width: auto;
    display: flex;
    flex: row;
    align-items: center;
}

header .first div {
    margin: 0 .5vw 0 .5vw;
}

header .first .bars button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.8vw;
    cursor: pointer;
    padding: .3vw;
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    transition: background .15s ease-in-out;
}

header .first .bars button:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1vw;
    transition: background .15s ease-in-out;
}

header .first .titleLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .first .titleLogo .iconoLogo {
    color: #fff;
    font-size: 3vw;
}

header .first .titleLogo h1 {
    color: #fff;
    font-size: 1.1vw;
    text-align: center;
    width: 11.5vw;
}

header .seccond .logoHSM {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .seccond .logoHSM img {
    width: auto;
    height: 3vw;
}

header .seccond .logoHSM h2 {
    color: #fff;
    font-size: 1.1vw;
    text-align: center;
    width: 11vw;
}

.headerLeft {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

}

.headerLeft.loaded.open {
    width: 20.5vw;
    transition: all .5s ease-in-out;
}

.headerLeft.loaded.close {
    width: 4vw;
    transition: all .5s ease-in-out;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
.headerLeft {
    scrollbar-width: auto;
    scrollbar-color: var(--color2) var(--color1) var(--color1);
}

/* Chrome, Edge, and Safari */
.headerLeft::-webkit-scrollbar {
    width: 1vw;
}

.headerLeft::-webkit-scrollbar-track {
    background: var(--color1);
}

.headerLeft::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: .8vw;
    border: .25vw solid var(--color1);
    transition: background-color 1s ease-in-out;
}

.headerLeft::-webkit-scrollbar-thumb:hover {
    background-color: var(--color3);
    transition: background-color 1s ease-in-out;
}

.headerLeft .info.open {
    color: #fff;
    margin-top: .5vw;
    padding: .5vw;
    font-size: 1.3vw;
}

.headerLeft .info.close {
    color: transparent;
    margin-top: .5vw;
    padding: .5vw;
    font-size: 1.3vw;
    animation: infoToClose .5s ease-in-out;
    /* overflow: hidden; */
    display: none;
}

@keyframes infoToClose {
    0% {
        direction: rtl;
        color: #fff;
    }

    50% {
        overflow: hidden;
    }

    100% {
        color: transparent;
    }
}

.headerLeft .sistemas {
    margin: 1vw 0 1vw 0;
}

.headerLeft .header {
    padding: 1vw 1vw;
    color: #fff;
    text-decoration: none;
    font-size: 1.3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transition: background .2s ease-in-out;
    border-radius: 0 .8vw .8vw 0;
}

.headerLeft .header:hover {
    background: var(--color2);
    transition: background .2s ease-in-out;
}

.headerLeftP {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    direction: rtl;
    margin-left: .5vw;
}

.headerLeftP.close {
    animation: textToClose .5s ease-in-out;
    color: transparent;
}

@keyframes textToClose {
    0% {
        white-space: nowrap;
        overflow: hidden;
        direction: rtl;
        color: #fff;
    }

    99% {
        color: #fff;
    }

    100% {
        color: transparent;
    }
}

hr {
    border-width: .1vw;
}

.headerLeft .user {
    width: 100%;
}

.headerLeft .logout {
    padding: 1vw 1vw;
    color: #fff;
    text-decoration: none;
    font-size: 1.3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transition: background .2s ease-in-out;
    border-radius: 0 .8vw .8vw 0;
}

.headerLeft .user a p {
    white-space: nowrap;
    overflow: hidden;
    direction: rtl;
}

.headerLeft .logout:hover {
    background: #ec2222;
    transition: background .2s ease-in-out;
}

/* Footer */

footer {
    background: var(--color1);
    display: flex;
    justify-content: space-between;
    height: 1.8vw;
    align-items: center;
    color: #fff;
    font-size: 1vw;
    padding: 0 1vw;
}

article {
    display: flex;
    flex-direction: row;
    height: calc(100% - 4.5vw - 1.8vw);
}

.content {
    width: 100%;
    padding: 1vw .5vw 1vw 1vw;
    background-color: #dddddd;
    background-image: radial-gradient(#cfcfcfd4 0.1vw, transparent 0);
    background-size: 1vw 1vw;
    background-position: -19vw -19vw;
}

@media print {

    .headerLeft,
    .bars {
        display: none;
    }
}

/* Panel de Reporte */
.error-report {
    position: fixed;
    top: 0;
    right: -30vw;
    /* Oculto inicialmente */
    width: 30vw;
    height: 100%;
    background-color: #dddddd;
    background-image: radial-gradient(#cfcfcfd4 0.1vw, transparent 0);
    background-size: 1vw 1vw;
    background-position: -19vw -19vw;
    border-left: 0.2vw solid var(--color3-normal);
    box-shadow: -0.5vw 0 1vw rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    z-index: 1000;

    .fa-chevron-right {
        display: none;
    }

    .fa-chevron-left {
        display: block;
    }
}

.error-report-body textarea {
    resize: none;
    width: 100%;
    min-height: 10vw;
    max-height: 20vw;
    field-sizing: content;
}

/* Botón flotante (ahora dentro del panel) */
.floating-button {
    position: absolute;
    top: 4.7vw;
    left: -3vw;
    /* Inicialmente fuera del panel */
    background-color: var(--color3-normal);
    color: white;
    width: 11.5vw;
    height: 3vw;
    border-radius: 5vw 0 0 5vw;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    font-size: 1vw;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

.floating-button span {
    white-space: nowrap;
    margin-left: .5vw;
    font-size: 1.1vw;
}

.floating-button:hover {
    background-color: var(--color3-dark);
    left: -11.5vw;
}

.floating-button i:first-child {
    transition: transform 0.3s ease-in-out;
}

/* Cuando el panel está abierto */
.error-report.open {
    right: 0;
    z-index: 1000;
}

.error-report.open .floating-button {
    left: -2.9vw;
    width: 2.8vw;

    span {
        display: none;
    }

    .fa-chevron-right {
        display: block;
    }

    .fa-chevron-left {
        display: none;
    }

    .fa-bug {
        margin-left: .5vw;
    }

    z-index: 999;
    /* Mueve el botón con el panel */
}