h3 {
    font-size: 2vw;
}

.back .divBackForm form div {
    width: 100%;
    padding: 0 1vw;
}

.contenedor-de-botones {
    position: relative;
}

.buttons-div {
    display: none;
    position: absolute;
    background-color: #fff;
    border: .2vw #000 solid;
    border-radius: .8vw;
    width: max-content;
    transform: translate(-15vw, -13vw);
    padding: 1vw;
    z-index: 1;
}

.buttons-div:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(1vw, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1vw 0 1vw 1vw; /* Triángulo hacia la derecha */
    border-color: transparent transparent transparent #000; /* Blanco */
}

.buttons-div.activo {
    display: flex;
    flex-direction: column;
}

#confirmLicencia {
    position: absolute;
    width: max-content;
    padding: 2vw;
}

#confirmJubilar {
    position: absolute;
    width: max-content;
    padding: 2vw;
}

#confirmFinContrato {
    position: absolute;
    width: max-content;
    padding: 2vw;
}

.avisoWarButton {
    color: #ffa500;
    padding: .3vw;
    margin: 0;
    background-color: #fff;
    border: .1vw #000 solid;
    border-radius: .5vw;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.avisoWarButton:hover {
    color: #e99700;
    background-color: #f1f1f1;
    transition: all .2s ease-in-out;
}

.aviso {
    position: absolute;
    background-color: #fff;
    border: .2vw #000 solid;
    border-radius: .8vw;
    width: max-content;
    transform: translate(.8vw, -5.1vw);
    padding: 1vw;
    z-index: 100;
}

.avisoWar {
    display: none;
}

.activoLic {
    display: block;
}

.aviso:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0; /* Cambiado a right en lugar de left */
    transform: translate(-1vw, -50%); /* Ajuste positivo para la traducción horizontal */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1vw 1vw 1vw 0; /* Triángulo hacia la izquierda */
    border-color: transparent #000 transparent transparent; /* Blanco */
}

.buttonPagination {
    height: 2.2vw;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple .select2-selection__arrow {
    transform: translateY(0.0vw);
}