h3 {
    font-size: 2vw;
}

.tables {
    text-align: center;
}

table {
    margin-bottom: 1vw;
}

#confirmUsuario {
    position: absolute;
    width: max-content;
    padding: 2vw;
}

.infoModule {
    width: 90%;
    min-height: 85%;
    max-height: 95%;
    padding: 2vw;
    display: flex;
    justify-content: flex-start;
    overflow-y: auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.infoModule {
    scrollbar-width: auto;
    scrollbar-color: var(--color2) var(--color1) var(--color1);
  }
  
  .infoModule::-webkit-scrollbar {
    padding: 1vw;
  }
  
  /* Chrome, Edge, and Safari */
  .infoModule::-webkit-scrollbar {
    width: .9vw;
  }
  
  .infoModule::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: .8vw;
    border: .2vw solid #dddddd;
    transition: background-color 1s ease-in-out;
  }
  
  .infoModule::-webkit-scrollbar-thumb:hover {
    background-color: var(--color3);
    transition: background-color 1s ease-in-out;
  }

.cuerpoInfo {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5vw;
    grid-auto-rows: minmax(1vw, auto);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    align-items: stretch;
}